# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter autosave files
*.ipynb_checkpoints

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# VSCode
.vscode/

# Mac
.DS_Store

bin/MaSim

conf/*/calibration
data/*/calibration

jobs/*/*/log_*
jobs/*/*/log*

log/
output/
images/